{% import "macros/page.html" as page_macros %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}en{% endif %}">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="robots" content="all"/>
    <meta name="keywords" content="music, baroque, mathematics, computer science, jitterbug, lindyhop, dancing, iterative, clarinet"/>

    <title>{{ config.title }}</title>
    <meta name="description" content="{{ config.description }}">
    <link rel="icon" type="image/x-icon" href="{{ get_url(path="favicon.ico", trailing_slash=false) }}">

    <meta property="og:url"                content="https://lorenzschmidt.com" />
    <meta property="og:title"              content="Notes and Tones" />
    <meta property="og:description"        content="Blog and personal website of Lorenz Schmidt" />
    <meta property="og:locale"             content="en_US"/>
    <meta property="og:type"               content="website"/>

    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="recipe.css", trailing_slash=false) }}">
    <link rel="stylesheet" href="{{ get_url(path="lightgallery.min.css", trailing_slash=false) }}">

    <script src="{{ get_url(path="lightgallery.min.js", trailing_slash=false) }}"></script>

    {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    <a class="skip-main" href="#main">Skip to content</a>
	<a style="display: none" rel="me" href="https://zettel.haus/@losch">Mastodon</a>
    <div class="container">
        <header> 
            <h1 class="site-header">
                <a href="{{ config.base_url }}">{{ config.title }}</a>
            </h1>
            <nav>
                {% block sidebar_nav %}
                {% for menu_link in config.extra.anpu_menu_links %}
                {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                <a {% if current_url and current_url == link_url %}class="active"{% endif %} href="{{ link_url }}">{{menu_link.name}}</a>
                {% endfor %}
		<span class="socials">
                {% for social in config.extra.social %}
                {% set link_url = social.url %}
		<a target="_blank" href="{{ link_url }}"><img height="28px" src="{{ get_url(path=social.image, trailing_slash=false) }}" /></a>
                {% endfor %}
		</span>
                {% endblock sidebar_nav %}
            </nav>
        </header>
        <main id="main" tabindex="-1">
            {% block content %}
                {% if paginator.pages %}
                {% for page in paginator.pages %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
                {{ page_macros::page_pagination(paginator=paginator) }}
                {% else %}
                {% for page in section.pages %}
                    {{ page_macros::page_listing(page=page) }}
                {% endfor %}
                {% endif %}
            {% endblock content %}
        </main>
        <footer>
            <p>
                © {{ config.title }} {{ now() | date(format="%Y") }}<br>
                Powered by <a target="_blank" href="https://getzola.org/">Zola</a>, Theme <a target="_blank" href="https://github.com/zbrox/anpu-zola-theme">Anpu</a>.
            </p>
            <p>
                {% block footer %}
                {% endblock footer %}
            </p>
        </footer>
    </div>
</body>
</html>
